.home-bg {
  background-image: asset-url('backgrounds/home.png');
}

.wrap {
  display: flex;
  height: 100vh;
  margin: 0 auto;
  max-width: 840px;
}

.h-container {
  width: 100vw;
  height: 844px;
  margin: 0 auto;
  border-radius: 30px;
  background-repeat: no-repeat;
}

.top {
  margin: 90px 30px 0;
}


.favorites-container {
  display: flex;
  flex-wrap: wrap;
  margin: 75px 30px 0;
  justify-content: space-between;
}

.notification-lg {
  background-color: rgba(180, 154, 204, 0.5);
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  font-size: 13px;
  margin-top: 10px;
  display: flex;
  align-items: self-end;
  box-shadow: 0 2px 10px 0 rgba(2, 57, 74, 0.1);
  > p {
    margin: 0;
  }
  > p > strong {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
  }
  > small{
    margin-left: auto;
  }
}

.notification-sm {
  background-color: rgba(180, 154, 204, 0.4);
  height: 125px;
  width: 160px;
  padding: 15px;
  margin-top: 6px;
  border-radius: 10px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px 0 rgba(2, 57, 74, 0.1);
  > p {
    margin: 0;
  }
  > img{
    width: 30px;
  }
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
