.landing-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 390px;
  padding-top: 350px;
  background: #CCDBDC;
  h1 {
    color: #02394A;
    font-weight: 600;
  }

  p {
    color: #02394A;
    line-height: 20px;
  }
}
.landing-bg-image{
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 10;
  background-image: asset-url('backgrounds/landing_page.png');
}

.landing-welcome {
  background-color: rgba(204, 219, 220, 0.4);
  border-radius: 30px;
  font-weight: 500;
  transform: translateY(-35%);
  z-index: 2;
  width: 90%;
  padding: 20px;
  text-align: center;
}
.blob {
  position: absolute;
  width: 250px;
  height: 250px;
  transform: translateY(-20%);
  padding-top: 200px;
}

.blob:nth-child(2) {
  filter: blur(30px);
  transform: translateY(10%);
}

