.logbook-container {
  background-color: #ccdbdc;
  border-radius: 100px 100px 0 0;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.layer3 {
  background-image: asset-url('backgrounds/logbook.png');
  padding-top: 75px;
}

.journal-header-container {
  display:flex;
  font-size:50px;
  font-weight:700;
  padding: 50px;
  margin-top: 100px;
}

.journal-card {
  margin: 12px;
  padding: 45px;
  background-color: rgba(157, 177, 222, 0.4);
  border-radius: 100px;
  color: #02394A;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.journal-image {
  border-radius: 25px;
  margin-top: 12px;
}

.layer4 {
  background-image: asset-url('backgrounds/journal.png')
}

.journal-entry {
  background-color: rgba(157, 177, 222, 0.4);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 30px;
  width: 90%;
  padding: 20px;
  margin: 0 auto 50px auto;
  max-height: 55vh;
  overflow: scroll;
}
