.mood-check {
  background-color: rgba(180, 154, 204, 0.2);
  border-radius: 30px;
  width: 90%;
  padding: 40px;
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 300px;
}

.layer2 {
  background-image: asset-url('backgrounds/emoji.png');
}
