.mood-check {
  background-color: rgba(204, 219, 220, 0.4);
  border-radius: 30px;
  width: 90%;
  padding: 20px;
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 300px;
}

.layer2 {
  background-image: asset-url('backgrounds/emoji.png');
}
