  .simple-calendar {
    .prev-month {
      color: #d2d2d2;
    }

    .next-month {
      color: #d2d2d2;
    }

    .day{
      background-color: transparent;
      margin: 3px !important;
      gap: 3px;
    }
  }

.calendar-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar-heading {
  margin-bottom: 10px;
  margin-top: 4px;
}

.calendar-heading span {
  margin: 0 60px;
}

.calendar-title {
  font-weight: 200;
}
.table th{
  background: transparent;
}

.table td{
  min-width: 41px !important;
  max-width: 41px !important;
}
.table td:has(a){
  background-color: #C7D6E7 !important;
  border-radius: 50%;
}

  .link_date{
    color: black;
    background-color: transparent;
    text-decoration: none;
    // border-color: black;
    // border-style: double;
    // border-radius: 50%;
    margin: auto;
  }
