.simple-calendar {

  .day {
    background-color: #E5ECED;
    padding: 0%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .prev-month {
    color: #d2d2d2;
  }

  .next-month {
    color: #d2d2d2;
  }
  .calendar-heading {
    background-color: #E5ECED;
    margin-top: 4px;
  }

  .link_date{
    background-color: #96C6DF;
    border-radius: 50%;
  }

}
