<div class="h-container layer3">
  <div class="mood-recommendation">
    <h1 class="mb-3">Today's music suggestions:</h1>
    <div class="header">
      <p class="lead">for feeling  :</p>
      <%= @logbook.emoji.title %>
      <%= @logbook.emoji.image.html_safe %>
    </div>
    <% @recommendations.each do |recommendation| %>
      <div class="p-2">
      <%= recommendation.image_url.html_safe %>
      </div>
    <% end %>
  </div>
</div>
