<div class="h-container home-bg spacer">
  <div class="container mt-5">
    <h1 class="mb-4">Today's music suggestions:</h1>
    <%= @logbook.emoji.title %>
    <%= @logbook.emoji.image.html_safe %>
    <% @recommendations.each do |recommendation| %>
      <div class="p-3">
      <%= recommendation.image_url.html_safe %>
      </div>
    <% end %>
  </div>
</div>
