<div class="navbar">
  <%= link_to home_path do %>
    <i class="fa-solid fa-house" style="color: #CCDBDC;"></i>
  <% end %>
  <%= link_to new_logbook_path do %>
    <i class="fa-solid fa-face-smile-wink" style="color: #ccdbdc;"></i>
  <% end %>
  <%= link_to logbooks_path do %>
    <i class="fa-solid fa-book-open" style="color: #ccdbdc;"></i>
  <% end %>
  <%= link_to profile_path do %>
    <i class="fa-solid fa-user" style="color: #CCDBDC;"></i>
  <% end %>
</div>
