<h1>
Hi from the log index!
</h1>

<% @logbooks.each do |logbook| %>
      <%= cl_image_path logbook.image %>
        <%= logbook.summary %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "Homepage", home_path %>
<%= link_to "New log", new_logbook_path %>
