<h1 class="text-center">
  Hi from the log index!
</h1>

<div class="container">
  <div class="">
    <% @logbooks.each do |logbook| %>
      <%= link_to logbook_path(logbook) do %>
        <div class="card my-5 rounded border-0 shadow-sm">
          <div style = "font-weight: lighter;">
            <%= logbook.created_at.strftime("%d %b, %Y") %>, <%= logbook.created_at.strftime("%I:%M %p") %>
          </div>
          <%= logbook.summary.truncate(50) %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
