<div class="h-container home-bg spacer">
  <div class="container mt-5">
    <h1 class="text-center">
      Your path
    </h1>
    <div class="container">
      <div class="">
        <% @logbooks.each do |logbook| %>
          <%= link_to logbook_path(logbook) do %>
            <div class="card my-5 rounded border-0 shadow-sm">
              <div style = "font-weight: lighter;">
                <%= logbook.date.strftime("%d %b, %Y") if logbook.date %>
              </div>
              <%= logbook.summary.truncate(90) if logbook.summary %>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
