<h1>
Hi from the homepage!
</h1>

<%= link_to "New log", new_logbook_path %>
<%= link_to "New journal", new_logbook_journal_path(@logbook) %>
<%= link_to "Profile", profile_path %>
<%= link_to "Logs index", logbooks_path %>

<div class="container">
  <button class="submit-button">Log  <i class="fa-solid fa-angles-right" style="color: #ccdbdc;"></i></button>
</div>
