
<div class="landing-container landing-bg-image flex-grow-1">
  <div class="landing-welcome">
    <h1>pathFinder.</h1>
    <br>
    <p class="lead">“Do not go where the path may lead,</p>
    <p>go instead where there is no path and leave a trail.”</p>
  </div>

  <div class="blob">
    <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
      <defs>
        <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%" style="stop-color: rgb(180, 154, 204);"></stop>
          <stop offset="100%" style="stop-color: rgb(150, 197, 223);"></stop>
        </linearGradient>
      </defs>
      <path fill="url(#gradient)">
        <animate attributeName="d"
          dur= "10000ms"
          repeatCount= "indefinite"
          values="M438,303.5Q397,357,352,391Q307,425,250,425.5Q193,426,129.5,
          404.5Q66,383,71.5,316.5Q77,250,80.5,189.5Q84,129,133.5,87Q183,45,
          249.5,46Q316,47,354,97Q392,147,435.5,198.5Q479,250,438,303.5Z;

          M426,312Q420,374,359.5,387.5Q299,401,236.5,442.5Q174,484,139,420Q104,
          356,87,303Q70,250,71,185Q72,120,123,68.5Q174,17,241,44.5Q308,72,
          355.5,105.5Q403,139,417.5,194.5Q432,250,426,312Z;

          M439,323Q451,396,377.5,406.5Q304,417,250.5,415Q197,413,132.5,
          397.5Q68,382,66,316Q64,250,65,183Q66,116,121,69Q176,22,242,47.5Q308,
          73,351.5,109Q395,145,411,197.5Q427,250,439,323Z;

          M422.5,312.5Q422,375,363,395.5Q304,416,252.5,408.5Q201,401,157.5,
          375Q114,349,58.5,299.5Q3,250,29.5,179.5Q56,109,123.5,88Q191,67,248,
          73.5Q305,80,378.5,91.5Q452,103,437.5,176.5Q423,250,422.5,312.5Z;

          M445,310Q415,370,358,388.5Q301,407,240.5,436Q180,465,151.5,403.5Q123,
          342,99,296Q75,250,75.5,187Q76,124,129,83Q182,42,240.5,70.5Q299,99,
          338.5,128Q378,157,426.5,203.5Q475,250,445,310Z;

          M438,303.5Q397,357,352,391Q307,425,250,425.5Q193,426,129.5,
          404.5Q66,383,71.5,316.5Q77,250,80.5,189.5Q84,129,133.5,87Q183,45,
          249.5,46Q316,47,354,97Q392,147,435.5,198.5Q479,250,438,303.5Z">
        </animate>
      </path>
    </svg>
  </div>

  <%= link_to new_logbook_path, class: "blob" do %>
    <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
      <defs>
        <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%" style="stop-color: rgb(180, 154, 204);"></stop>
          <stop offset="100%" style="stop-color: rgb(150, 197, 223);"></stop>
        </linearGradient>
      </defs>
      <path fill="url(#gradient)">
        <animate attributeName="d"
          dur= "10000ms"
          repeatCount= "indefinite"
          values="M438,303.5Q397,357,352,391Q307,425,250,425.5Q193,426,129.5,
          404.5Q66,383,71.5,316.5Q77,250,80.5,189.5Q84,129,133.5,87Q183,45,
          249.5,46Q316,47,354,97Q392,147,435.5,198.5Q479,250,438,303.5Z;

          M426,312Q420,374,359.5,387.5Q299,401,236.5,442.5Q174,484,139,420Q104,
          356,87,303Q70,250,71,185Q72,120,123,68.5Q174,17,241,44.5Q308,72,
          355.5,105.5Q403,139,417.5,194.5Q432,250,426,312Z;

          M439,323Q451,396,377.5,406.5Q304,417,250.5,415Q197,413,132.5,
          397.5Q68,382,66,316Q64,250,65,183Q66,116,121,69Q176,22,242,47.5Q308,
          73,351.5,109Q395,145,411,197.5Q427,250,439,323Z;

          M422.5,312.5Q422,375,363,395.5Q304,416,252.5,408.5Q201,401,157.5,
          375Q114,349,58.5,299.5Q3,250,29.5,179.5Q56,109,123.5,88Q191,67,248,
          73.5Q305,80,378.5,91.5Q452,103,437.5,176.5Q423,250,422.5,312.5Z;

          M445,310Q415,370,358,388.5Q301,407,240.5,436Q180,465,151.5,403.5Q123,
          342,99,296Q75,250,75.5,187Q76,124,129,83Q182,42,240.5,70.5Q299,99,
          338.5,128Q378,157,426.5,203.5Q475,250,445,310Z;

          M438,303.5Q397,357,352,391Q307,425,250,425.5Q193,426,129.5,
          404.5Q66,383,71.5,316.5Q77,250,80.5,189.5Q84,129,133.5,87Q183,45,
          249.5,46Q316,47,354,97Q392,147,435.5,198.5Q479,250,438,303.5Z">
        </animate>
      </path>
    </svg>
  <% end %>
</div>
