.navbar {
  position: sticky;
  width: 80%;
  height: 50px;
  border-radius: 22px;
  margin-bottom: 10px;
  left: 40px;
  // transform: translateX(-50%);
  bottom: 0;
  background:rgba(2, 57, 74, 0.4);
  z-index: 10;
  justify-content: space-around;
}
