
  <button type="button" class="btn btn-outline-secondary shadow-sm rounded">Back</button>
  <button type="button" class="btn btn-outline-secondary text-muted shadow-sm" >Submit</button>

  <div class="card border-light my-3" style="max-width: 18rem;">
    <div class="card-header">09/07/2023</div>
    <div class="card-body overflow-scroll">
      <h2 class="card-title">He broke my heart</h2>
      <p class="card-text">Raw ache within, shattered dreams haunt. Echoes of laughter linger. Embracing pain's lessons, seeking solace in time's embrace. Raw ache within, shattered dreams haunt. Echoes of laughter linger. Embracing pain's lessons, seeking solace in time's embrace.</p>
    </div>
  </div>
</div>
